$main-text-color: #333333;
$addition-text-color: #ffffff;
$decoration-color: #5dbdfe;
$background-color:#f34135;


// $main-page-font: "Acrom-Regular", sans-serif;
// $section-title-font: "Acrom-Bold",sans-serif;
// $style-font: "Acrom-Medium", sans-serif;
// $special-font: 'Acrom-ExtraBold', sans-serif;
// $footer-main-font:  "Gilroy-Light", sans-serif;